@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
}
body{
font-family: "Microsoft YaHei" ! important;

}
ul,ol{
	list-style: none;
}
img{
	border: none;
}
a{
	text-decoration: none; color:#3D3D3D;
}
input{padding:0px;}
.red{
	color: #F60000;
}
.orange{
	color: #FF7F00;
}
.huise{
	color: #B6B6B6;
}
dd {
display: block;
-webkit-margin-start: 0px;
}
p {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;}
.hlchwz{ width:1170px; height:30px; margin:0 auto; margin-top:10px;}
.hlchwz span{ color:#ff5454;}
.hlchnr1:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.hlchnr1{ width:100%;; height:auto; margin:0 auto;}
.hlchnr1 .fg{     font-size: 38px;width: 620px;margin: 0 auto;}
.hlchnr1 .fg1{     font-size: 38px;width: 650px;margin: 0 auto;}
.hlchnr1 .fgx{ font-size: 20px;width: 400px;margin: 0 auto;margin-top: 10px;}	
.hlchnr1 .fgx1{ font-size: 20px;width: 440px;margin: 0 auto;margin-top: 10px;}	
.hlchnrt:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.hlchnrt{ width:880px; margin:0 auto; height:auto; margin-top:50px;}
.hlchnrt ul{}
.hlchnrt li{ width:180px; height:180px; float:left; margin:0px 20px; position:relative}
.hlchnrt li span.on{background:url(../images/picbghover.png) no-repeat !important;}
.hlchnrt li span{ position:absolute; bottom:0; left:0; background:url(../images/picbg.png) no-repeat;width: 180px;height: 180px;}
.hlchnrt li p{ width:180px; height:30px;    background: #FFFFFF;position: absolute;left: 0;bottom: 75px;opacity: 0.8;filter: alpha(opacity=80);text-align: center; line-height:30px;}
.hlchnrt li.li1{ width:180px; height:180px; background:url(../images/hlchjy.jpg) no-repeat;}
.hlchnrt li.li2{ width:180px; height:180px; background:url(../images/hlchlm.jpg) no-repeat;}
.hlchnrt li.li3{ width:180px; height:180px; background:url(../images/hlchzs.jpg) no-repeat;}
.hlchnrt li.li4{ width:180px; height:180px; background:url(../images/hlchcp.jpg) no-repeat;}

.hlchnrt1{ width:880px; margin:0 auto; height:180px; margin-top:50px;}
.hlchnrt1 ul{}
.hlchnrt1 li{ width:180px; height:180px; float:left; margin:0px 20px; position:relative}
.hlchnrt1 li span.on{ background:url(../images/picbghover.png) no-repeat !important;}
.hlchnrt1 li span{ position:absolute; bottom:0; left:0; background:url(../images/picbg.png) no-repeat;width: 180px;height: 180px;}
.hlchnrt1 li p{ width:180px; height:30px; color: #FFFFFF;position: absolute;left: 0;bottom: 75px;opacity: 0.8;filter: alpha(opacity=80);text-align: center; line-height:30px;}
.hlchnrt1 li.li1{ width:180px; height:180px; background:#ffc353;}
.hlchnrt1 li.li2{ width:180px; height:180px; background:#fea154;}
.hlchnrt1 li.li3{ width:180px; height:180px; background:#ff6a55;}
.hlchnrt1 li.li4{ width:180px; height:180px; background:#ff5454;}


.hlchxyb{ width:220px; height:50px; margin:0 auto; background:url(../images/anbg.png) no-repeat; margin-top:200px;}
.hlchxyb a{ display:block; width:220px; height:50px; text-align:center;color:#ff5454; line-height:50px} 
.dbx{ width:100%; height:41px; background:url(../images/dbx.jpg); margin-top:50px; margin-bottom:50px;}
.dbx p{ width:321px; height:41px; margin:0 auto}


.hlchnrjg{ width:600px; margin:0 auto; height:180px; margin-top:50px;}
.hlchnrjg ul{}
.hlchnrjg li{ width:120px; height:140px; float:left; margin:0px 40px; }
.hlchnrjg li dl{ width:80px; margin:0 auto}
.hlchnrjg li dt{ font-size:20px;    margin-top: 20px;}

.hlchysjg{ width:990px; height:75px; background:#f5f5f5;margin: 0 auto;font-size: 24px;line-height:75px; color:#6a6a6a;    margin-top: 40px;
    margin-bottom: 40px;}
.hlchysjgl{ float:left; width:495px;}
.hlchysjgr{ float:right; width:495px;}

.hlchly{ width:326px; margin:0 auto}
.hlchtel{width:326px; height:54px;}
.hlchtel input{width:324px; height:54px; font-size:24px; border:solid 1px #d0d0d0;}
.hlchtj{ width:326px; height:52px; background:#ff5555;    margin-top: 10px;}
.hlchtj a{ display:block; width:326px; height:52px; color:#fff;    line-height: 52px;
    text-align: center;
    font-size: 24px;}
/*结婚管家*/
.jhgjban{ width:100%; height:560px; margin:0 auto; background:url(../images/jhgjbanner.jpg) no-repeat;}	
.jhgjban ul{ width:840px; height:230px;     margin: 0 auto;
    display: block;
    padding-top: 320px;}
.jhgjban ul li{ float:left; width:180px; height:230px; background:url(../images/jhgjy.png) no-repeat; margin:0 50px;}
.jhgjban ul li dl{width: 80px;
    margin: 0 auto;
    margin-top: 30px;}
.jhgjban ul li dt{width: 180px;
    text-align: center;
    font-size: 24px;
    margin-top: 50px;}

.jhgjan{    width: 404px;
    height: 70px;
    margin: 0 auto;
    background: url(../images/jhgjangb.png) no-repeat;
    margin-top: 50px;}
.jhgjan a{display: block;
    width: 404px;
    height: 70px;
    text-align: center;
    color: #fff;
    line-height: 50px; font-size:30px; line-height:70px;}
/*结婚管家2*/
.jhgj2{ width:600px; height:160px; margin:0 auto; background:url(../images/jhgjren.png) no-repeat; margin-top:30px;}
.jhgj2_1{font-size: 36px;   margin: 0 auto; margin-left:80px; padding-top:50px;}
.jhgj2_2{    font-size: 20px;margin: 0 auto;margin-top: 20px;margin-left: 130px;}
.jhgjfl{ width:900px; height:200px; margin:0 auto;margin-top: 50px;}	
.jhgjfl ul{}
.jhgjfl ul li{ float:left; width:200px; height:200px;margin:0 50px;}
.jhgjfl ul li dl{ width:90px; margin:0 auto }
.jhgjfl ul li dt{width:200px; height:50px;    margin-top: 30px;}
.jhgjfl ul li dt a{ display:block;background:url(../images/jhgjfwbg.png) no-repeat; width:200px; height:50px; font-size:24px; color:#fff; line-height:50px; text-align:center}
/*结婚工具*/
.jhgj{ width:900px; height:300px; margin:0 auto; background:#fff; margin-top:10px; color:#666;}
.jhgj ul{ padding:10px;}
.jhgj ul li{ float:left; width:360px; margin-right:80px; margin-top:30px; }
.jhgjl{ float:left; width:90px; margin-right:10px;}
.jhgjr{ float:right; width:260px;}
.jhgjr .tit{ font-size:16px;}
.jhgjr .nr{ font-size:14px;}


/*婚纱摄影*/

.hlchnr1 .fghssy {
    font-size: 38px;
    width: 660px;
    margin: 0 auto;
}

.hlchnr1 .fgxhssy {
    font-size: 20px;
    width: 480px;
    margin: 0 auto;
    margin-top: 10px;
}

.hssynrt:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.hssynrt{ width:880px; margin:0 auto; height:auto; margin-top:50px;}
.hssynrt ul{}
.hssynrt li{ width:180px; height:180px; float:left; margin:0px 20px; position:relative; margin-bottom:20px;}
.hssynrt li span.on{background:url(../images/hssyhover.png) no-repeat !important;}
.hssynrt li span{ position:absolute; bottom:0; left:0; background:url(../images/hssy.png) no-repeat;width: 180px;height: 180px;}
.hssynrt li p{ width:180px; height:30px;    background: #FFFFFF;position: absolute;left: 0;bottom: 0px;opacity: 0.8;filter: alpha(opacity=80);text-align: center; line-height:30px;}
.hssynrt li.li1{ width:180px; height:180px; background:url(../images/hssyxx1.png) no-repeat;}
.hssynrt li.li2{ width:180px; height:180px; background:url(../images/hssyxx2.png) no-repeat;}
.hssynrt li.li3{ width:180px; height:180px; background:url(../images/hssyxx3.png) no-repeat;}
.hssynrt li.li4{ width:180px; height:180px; background:url(../images/hssyxx4.png) no-repeat;}
.hssynrt li.li5{ width:180px; height:180px; background:url(../images/hssyxx5.png) no-repeat;}
.hssynrt li.li6{ width:180px; height:180px; background:url(../images/hssyxx6.png) no-repeat;}
.hssynrt li.li7{ width:180px; height:180px; background:url(../images/hssyxx7.png) no-repeat;}
.hssynrt li.li8{ width:180px; height:180px; background:url(../images/hssyxx8.png) no-repeat;}

/*婚宴酒店*/
.hyjdxx{ width:825px; height:68px; margin:0 auto; margin-top:30px; margin-bottom:30px;}
.hyjdxx select{ width:233px; height:66px; border:solid 1px #ff5555; text-align:center; margin:0 18px; font-size:20px; color: #ff5555;}



.hyjdnrt{ width:880px; margin:0 auto; height:180px; margin-top:50px;}
.hyjdnrt ul{}
.hyjdnrt li{ width:180px; height:180px; float:left; margin:0px 20px; position:relative}
.hyjdnrt li span.on{ background:url(../images/picbghover.png) no-repeat !important;}
.hyjdnrt li span{ position:absolute; bottom:0; left:0; background:url(../images/picbg.png) no-repeat;width: 180px;height: 180px;}
.hyjdnrt li p{ width:180px; height:30px; color: #FFFFFF;position: absolute;left: 0;bottom: 75px;opacity: 0.8;filter: alpha(opacity=80);text-align: center; line-height:30px;}
.hyjdnrt li.li1{ width:180px; height:180px; background:#54ccff;}
.hyjdnrt li.li2{ width:180px; height:180px; background:#54affe;}
.hyjdnrt li.li3{ width:180px; height:180px; background:#5492ff;}
.hyjdnrt li.li4{ width:180px; height:180px; background:#6a66f9;}

.hyjdnrt1{ width:1100px; margin:0 auto; height:180px; margin-top:50px;}
.hyjdnrt1 ul{}
.hyjdnrt1 li{ width:180px; height:180px; float:left; margin:0px 20px; position:relative}
.hyjdnrt1 li span.on{ background:url(../images/picbghover.png) no-repeat !important;}
.hyjdnrt1 li span{ position:absolute; bottom:0; left:0; background:url(../images/picbg.png) no-repeat;width: 180px;height: 180px;}
.hyjdnrt1 li p{ width:180px; height:30px; color: #FFFFFF;position: absolute;left: 0;bottom: 75px;opacity: 0.8;filter: alpha(opacity=80);text-align: center; line-height:30px;}
.hyjdnrt1 li.li1{ width:180px; height:180px; background:#ffc353;}
.hyjdnrt1 li.li2{ width:180px; height:180px; background:#fea154;}
.hyjdnrt1 li.li3{ width:180px; height:180px; background:#ff6a55;}
.hyjdnrt1 li.li4{ width:180px; height:180px; background:#ff5454;}
.hyjdnrt1 li.li5{ width:180px; height:180px; background:#ff7384;}

.hyjdjg{ width:990px; height:75px; background:#f5f5f5;margin: 0 auto;font-size: 24px;line-height:75px; color:#6a6a6a;    margin-top: 40px;
    margin-bottom: 40px; font-size:20px;}
.hyjdjgl{ float:left; width:455px; margin-left:40px; margin-top:10px;}
.hyjdjgl p{ font-size:16px; height:24px; line-height:24px;}
.hyjdjgl p em{    font-style: normal;}
.hyjdjgr{ float:right; width:495px; margin-top:10px;}
.hyjdjgr p{ font-size:16px; height:24px; line-height:24px;}
